.clone_section input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.toast.fade.show {
    position: absolute;
    top: 3px;
    right: 27px;
    z-index: 999999;
    background: #03A9F4;
    color: #fff;
}

.icon_btn {
    font-size: 22px;
    margin-right: 5px;
}

.pos_section {
    position: relative;
}

.pos_section .card-img-actions img {
    height: 90px;
    object-fit: contain;
}

.pos_section .card .card-body {
    padding: 5px 5px 15px 5px;
}

.pos_section .card {
    border-radius: 10px;
    min-height: 265px;
    margin-bottom: 15px;
}

.shopping-cart-wrap i {
    color: #00563a;
    cursor: pointer;
}

.product_search {
    background: #fff;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 15px;
}

.product_search i {
    font-size: 21px;
    vertical-align: middle;
    color: #e84e0e;
}

.m-btn {
    padding: 4px 2px;
}

.pos_footer {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 82%;
    padding: 29px;
    border-radius: 12px;
    z-index: 999;
}

.qty_btn {
    width: 33px;
    border: none;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    text-align: center;
}

.product_search input {
    width: 86%;
    border: none;
}

.details_section h6 {
    font-size: 13px;
}

.page-item.active .page-link {
    background-color: #e84e0e !important;
    border-color: #e84e0e !important;
}

.cart_list_image {
    width: 60px !important;
    height: 60px !important;
    border-radius: 0 !important;
    margin-right: 8px;
}

.shopping-cart-wrap .text-primary {
    white-space: break-spaces;
    font-weight: 500;
}

.shopping-cart-wrap small {
    display: block;
    margin: 2px 0;
    color: #000;
    font-size: 11px;
}

.custom_tr {
    border-bottom: none !important;
}

.custom_tr td {
    line-height: 7px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.align-center {
    margin: 0 auto;
}

.product_card {
    background: #fbfbfb;
    padding: 15px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}

#accordion .nav-pills .nav-link.active,
#accordion .nav-pills .show>.nav-link {
    color: #000;
    background-color: #ffffff;
    border-left: 3px solid #6fbfe5;
    border-radius: 0;
    font-size: 14px;
}

#accordion .nav-link {
    font-size: 14px;
}

#BasicInformation,
#advancedInformation {
    border-top: 1px solid #efeff1;
    padding-top: 15px;
}

.content_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dashed #dfdfdf;
}

textarea.form-control {
    resize: auto;
}

.form-group label {
    font-weight: 500;
}

.form-check.form-check-flat label .input-helper:before {
    border: 2px solid #d3d3d3;
}

.form-check.form-check-flat label .input-helper:after {
    top: 0;
}

.form-check .form-check-label {
    font-size: 0.875rem;
    line-height: 1.5;
    padding-left: 25px;
}

.switch .form-check .form-check-label {
    padding-left: 10px;
}

button.btn.dropdown-toggle.btn-light {
    padding: 10px 10px 4px;
}

#v-pills-tabContent .dropdown .dropdown-toggle:after {
    opacity: 0;
}

.sidebar>.nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    vertical-align: middle;
}

.sidebar>.nav .nav-item .nav-link:hover {
    color: #6fbfe5;
}

.required {
    color: #f00;
    font-weight: bold;
}

.page_title {
    margin: 0 10px 15px;
}

.thumb-image {
    width: 50px;
}


/* #listTable_wrapper * {
    font-size: 14px;
} */

.form-check,
.form-radio {
    margin-top: 7px;
}

label.badge {
    font-size: 12px !important;
    font-weight: 400;
    padding: 6px 18px;
}


.color_1 {
    background: #000;
}

.color_2 {
    background: #a5b106;
}

.color_3 {
    background: #2706e0;
}

.color_4 {
    background: #a7087f;
}
.color_5 {
    background: #f00;
}

.color_6 {
    background: #158307;
}
.color_7 {
    background: #e0cc15;
}
.color_7 {
    background: #4cf563;
}


.card .card-title {
    color: #3a3a3a;
    font-size: 12px;
}

#listTable .btn {
    font-size: 11px;
}

div#listTable_filter input {
    border: 1px solid #111111;
}

.formated_para p {
    margin: 0;
    padding-bottom: 5px;
}

button.remove {
    border: none;
    background: transparent;
    font-size: 22px;
    color: #f00;
}

.font_14 {
    font-size: 14px !important;
}

#print_invoice {
    display: none;
}

.alert {
    font-size: 14px;
}

input[type="file"] {
    border: none !important;
}

.ul_image li {
    box-shadow: 1px 2px 3px 0px #a8a8a8;
    padding: 5px;
}

.image_remnove {
    display: block;
    text-align: center;
    background: #ff6767;
    color: #fff;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.5s all;
}

.image_remnove:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.sidebar,
.navbar.default-layout .navbar-brand-wrapper {
    background: #000;
}

.sidebar>.nav .nav-item .nav-link .menu-icon,
.sidebar>.nav .nav-item .nav-link {
    color: #918d8d;
}

.sidebar>.nav:not(.sub-menu)>.nav-item:hover:not(.nav-profile):not(.hover-open)>.nav-link:not([aria-expanded="true"]) {
    background: #3C5FA1;
    padding-left: 30px;
}

.sidebar>.nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link,
.sidebar>.nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link {
    color: #918d8d;
}

.nav-item:hover span,
.nav-item:hover .menu-icon {
    color: #fff !important;
}

.seller_panel .nav-item:hover span,
.seller_panel .nav-item:hover .menu-icon {
    color: #0a563b !important;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #1896d9;
    border-color: #1e9bdd;
}

.duplicate_attribute_box div {
    background: #f3f3f3;
    padding: 12px;
}

.rm_delete_btn {
    cursor: pointer;
    color: #fff !important;
}

.custom_values_section {
    display: none;
}

.text-small {
    font-size: 12px !important;
    font-weight: normal;
}

.badge_active {
    border: 1px solid #e84e0e;
    color: #e84e0e;
}

.badge_inactive {
    border: 1px solid #d10c26;
    color: #d10c26;
}

.badge_pending {
    border: 1px solid #eeb310;
    color: #eeb310;
}

.badge_processing {
    border: 1px solid #3c1cf1;
    color: #3c1cf1;
}

.badge_hold {
    border: 1px solid #f11dd5;
    color: #f11dd5;
}

.badge_canceled {
    border: 1px solid #d10c26;
    color: #d10c26;
}

.badge_completed {
    border: 1px solid #e84e0e;
    color: #e84e0e;
}

.menu_active {
    background: #252c46 !important;
    color: #5c9c06 !important;
}

.seller_panel .menu_active {
    background: #dddddd !important;
}

.menu_active i,
.menu_active span {
    color: #ffffff !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c3c3c3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #e84e0e;
}

.form-check {
    padding-left: 0;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-input {
    padding: 8px 25px;
}

#weight_unit {
    background: #e84e0e;
    border: none;
    color: #fff;
}

span.input-group-text.bg-transparent.text-white {
    padding: 7px 20px;
}

.create_product_title {
    color: #259ee0;
}

.details_card {
    border-radius: 0 0 15px 15px;
}

.text-primary {
    color: #005236 !important;
    text-decoration: none !important;
}

.text-primary:hover {
    color: #e84e0e !important;
}

.hint_text {
    font-size: 10px;
    color: #959595;
    font-style: italic;
}

.border-primary,
.btn-primary {
    border-color: #e84e0e !important;
}

.bg-primary,
.btn-primary {
    background-color: #e84e0e !important;
}

.designed_table thead tr {
    background: #fff;
    text-transform: uppercase;
}

.table thead th,
.table th,
.table td {
    border: none;
}

.list_img {
    width: 60px !important;
    height: 60px !important;
    margin-right: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 0 !important;
    object-fit: contain;
}

tbody tr {
    border-bottom: 1px solid #eeefef !important;
}

table.dataTable {
    border-collapse: collapse;
}

#listTable_filter {
    position: absolute;
    right: 0;
    top: 0;
}

#listTable_length,
#listTable_filter,
#listTable_info {
    padding: 20px 15px 15px;
}

#listTable_filter input {
    border: 1px solid #c9c9c9 !important;
    padding: 2px;
    margin-left: 10px;
    border-radius: 3px;
}

.seller_name {
    font-size: 11px !important;
    color: #1796d9;
    display: block;
}

.product_title {
    vertical-align: middle;
    white-space: initial;
    margin-top: 7px;
    margin-bottom: 4px;
}

.nav-item:hover .hover-text-success .menu-icon {
    color: #01573c !important;
}

.hover-text-success i {
    font-size: 24px !important;
}

select[name="listTable_length"] {
    width: 50px;
    padding: 3px 0px;
    border: 1px solid #c9c9c9 !important;
    border-radius: 4px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border: none;
}

.designed_table tbody tr:hover {
    background: #d0ebf9;
}

.designed_table tbody tr {
    transition: 0.5s all;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    box-sizing: inherit;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-position: center left;
}

#listTable,
#dataTable {
    margin-bottom: 15px;
}

#dataTable {
    width: 100% !important;
}

.sorting_1 {
    text-align: center;
}

#dataTable_length,
#dataTable_filter {
    padding: 15px 15px 0;
}

.pagination_center {
    margin: 30px auto 15px auto;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2ba2e4;
    border-color: #2ba2e4;
}

.toolbar {
    padding: 16px 25px 0 16px;
    background: #fff;
    border-radius: 8px 8px 0 0;
}

.btn-search {
    margin-left: -2px;
    background: #7ac7ef;
    color: #fff;
}

.sidebar_small #sidebar {
    width: 60px;
}

.sidebar_small #sidebar .nav-link {
    padding: 16px !important;
}

.sidebar_small .navbar-brand-wrapper {
    width: 60px !important;
}

.sidebar_small .navbar.default-layout .navbar-menu-wrapper {
    width: calc(100% - 60px);
}

.sidebar_small .main-panel {
    width: calc(100% - 60px);
}

.sidebar_small .sub-menu .menu_title_small,
.sidebar_small .menu-title,
.sub-menu .menu_ico_small {
    display: none !important;
    transition: 0.5s all;
}

.sidebar>.nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:hover,
.sidebar>.nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link:hover {
    color: #000;
    background: #3C5FA1;
}

.sidebar_small .sidebar>.nav .nav-item .nav-link i.menu-arrow {
    position: absolute;
    right: 0;
    font-weight: bold;
}

.sidebar_small .sub-menu .menu_ico_small {
    display: block !important;
    font-size: 23px;
    margin-left: 0;
}

.sidebar_small .sidebar>.nav .nav-item .nav-link i.menu-arrow:before {
    color: #9d9d9d;
}

.sidebar_small .brand-logo {
    width: 40px;
    margin: 0 auto !important;
}

.sidebar_small .sidebar .show .nav {
    background: #252c46;
}

.seller_panel .sub-menu {
    background: #fff !important;
}

.dd-option-handle {
    text-align: right;
}


/** Nestable */

.list-group-item {
    padding: 5px!important;
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item>.dd-handle {
    width: 70%;
    float: left;
    padding: 6px 0px;
}

.dd-item>.dd-option-handle {
    white-space: nowrap;
    margin-bottom: 5px;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item>button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}


/**
    * Nestable Extras
    */

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#nestable-menu {
    padding: 0;
    margin: 20px 0;
}

#nestable-output,
#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #bbb;
}

#nestable2 .dd-item>button:before {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .dd {
        float: left;
        width: 100%;
    }
    .dd+.dd {
        margin-left: 2%;
    }
}

.dd-hover>.dd-handle {
    background: #2ea8e5 !important;
}


/** Nestable Draggable Handles */

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0;
}

.dd3-item>button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

.mdi-pencil-box-outline,
.mdi-delete {
    font-size: 19px !important;
}

.msg_nested_categories {
    text-align: right;
    color: #3aaced;
}

.variant_values .selected_images_gallery {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 105px;
}

.variant_values .selected_images_gallery img {
    width: 45px;
}

.variant_values .selected_images_gallery span b {
    position: absolute;
    right: -15px;
    color: #fff;
    top: -10px;
    background: #d71414;
    padding: 0px 7px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 50%;
}

.table td img.thumb-image,
.table th img.thumb-image {
    object-fit: contain;
}

.plb {
    color: #fff;
    padding: 1px 10px;
    border-radius: 20px;
}

.badge_simple {
    background: #37aaeb;
}

.badge_variable {
    background: #19920e;
}

.badge_digital {
    background: #292526;
}

.badge_service {
    background: #e0a00e;
}

.badge_theme {
    background: #7AB001;
}

.cloned {
    margin-top: 5px;
}

.initConcaveMedia {
    background: #73c4f2;
    border-color: #73c4f2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #6ac5ec !important;
    background: #6ac5ec !important;
}

.dataTables_wrapper {
    background: #fff;
    border-radius: 8px 8px;
    padding-bottom: 15px;
}

#dataTable_info {
    margin-left: 15px;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
    padding: 2px;
}

.dropdown .dropdown-toggle:after {
    color: transparent !important;
}

.font_small_11 .form-check-label {
    font-size: 11px !important;
}

.sms_item,
.email_item {
    display: none;
}

.downloadable_file_section {
    display: none;
}

.buttons-excel {
    background: #e84e0e;
    color: #fff;
}

.buttons-pdf {
    background: #7a15ff;
    color: #fff;
}

.btn-group {
    top: 10px;
    left: 15px;
    margin: 5px 0 20px 0;
}

.buttons-csv {
    background: #58afef;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 86px;
}

.buttons-print {
    background: #808080;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 86px;
}


/*custom by said*/

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #49c7ae, #17ffd1);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.bg-c-leaf {
    background: linear-gradient(45deg, #23a913, #33e51b);
}

.bg-c-violate {
    background: linear-gradient(45deg, #ac33d4, #cdaedd);
}

.action_btn_review a {
    padding: 5px;
    font-size: 20px;
}

.action_btn_review .mdi-reply {
    font-size: 23px;
}


/** Seller Panel**/

.seller_panel .sidebar,
.seller_panel .navbar.default-layout .navbar-brand-wrapper {
    background: #f3f3f3;
}

.seller_panel .sidebar>.nav .nav-item .nav-link .menu-icon,
.seller_panel .sidebar>.nav .nav-item .nav-link {
    color: #000000;
}

.seller_panel .sidebar>.nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link,
.seller_panel .sidebar>.nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link {
    color: #000000;
}

.seller_panel .sidebar>.nav .nav-item .nav-link i.menu-arrow:before {
    color: #000000;
}

.seller_panel .content-wrapper {
    background: #ffffff;
}

.lan_title {
    color: #6fbfe5;
}

@media only screen and (max-width: 991px) {
    .sidebar_small .main-panel {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
    .sidebar-offcanvas {
        left: 0 !important;
    }
}

.replay_images {
    margin-left: 30px;
}

#payment_status {
    padding: 5px 10px;
    width: 200px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    margin-left: 5px;
}

.property_single_page_deatails h5 {
    font-weight: 600;
}

p:blank {
    display: none;
}

.single_property_description ul li {
    padding-bottom: 5px;
}

.unseen,
.nowStatus1,
.nowStatus2 {
    cursor: pointer !important;
    border: 1px solid #f00 !important;
    color: #f00 !important;
}

.nowStatus3 {
    cursor: pointer;
    border: 1px solid #16a708;
    color: #16a708
}

.title_textarea iframe {
    height: 130px !important;
}

.sidebar>.nav .nav-item .nav-link .menu-icon {
    color: #e84e0e;
}

.badge-primary {
    background: #e84e0e;
    color: #fff;
}

*:fullscreen *:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    overflow: auto !important;
}

.btn-success {
    color: #fff;
    background-color: #e84e0e;
    border-color: #7ab000;
}

.promotional_banner {
    background: #f3f3f3;
    padding: 20px;
    margin-bottom: 15px;
}

#tab_option_description {
    min-height: 150px;
}

.filter_header {
    background: #004e32;
    padding: 0px 10px;
    color: #fff;
    margin-bottom: 10px;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white !important;
    background-color: #5daf21;
    line-height: 28px;
    font-size: 12px;
    border-radius: 8px;
    padding: 3px 10px !important;
}

.white-space-break {
    white-space: break-spaces !important;
}

.formated_para {
    min-height: 445px;
}

.digital_payment_link {
    background: #161616;
    padding: 2px 5px;
    color: #fff;
}

.dynamic_attributes {
    background: #f3f3f3;
    padding: 25px !important;
}

.attribute_list {
    border: 1px solid rgb(221, 221, 221);
    padding: 3px 10px;
    background: rgb(255 255 255);
}

.attribute_list i {
    margin-right: 10px;
    color: #e84e0e;
}

.remove_attribute {
    float: right;
    cursor: pointer;
    color: red;
    margin-top: -3px;
}

.icon_active {
    color: #6aa800;
}

.trashModal *,
.activity_log p * {
    white-space: break-spaces !important;
}

.trashModal .close {
    padding: initial;
    margin: -30px 0px -25px auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.2rem;
    text-align: center;
    pointer-events: none;
    color: #3C5FA1;
    font-size: 24px;
}

#search_dashboard_results {
    position: absolute;
    width: 100%;
    height:300px;
    overflow-x: auto;
    background: #f5f5f5;
    padding: 15px 0;
    display: none;
}

#search_dashboard_results ul li {
    list-style: none;
}

#search_dashboard_results ul li a {
    padding: 5px 0;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}

#search_dashboard_results ul li a i {
    margin-right: 5px;
}

#search_dashboard_results ul li a:hover {
    background: #01573c;
    color: #fff;
}

.badge_open {
    background: #67a500;
    color: #fff;
    padding: 3px 12px;
    text-transform: capitalize;
}

.badge_closed {
    background: #1b1b1b;
    color: #fff;
    padding: 3px 12px;
    text-transform: capitalize;
}

.dataTable .child ul {
    width: 100%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 50%;
    transform: translateY(-46%);
}

.bg-yellow-light {
    background: #fbe59359 !important;
}

.formated_para #reason,
.formated_para #payment_status_submit {
    display: none;
}


/*ticket page */

.heading-theme {
    font-weight: 700;
    color: #409e20;
}

.text-theme {
    color: #409e20;
}

.ticket-info .heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.ticket-info .ticket_info_list {
    margin-bottom: 15px;
}

.ticket-info .ticket_info_list .ticket_info_name {
    /*white-space: nowrap;*/
    flex: 50% 0 0;
    font-size: 14px;
    color: #409e20cf;
    font-weight: 500;
}

.ticket-info .ticket_info_list .ticket_info_content {
    color: #238900;
}

.ticket_replay .replay .replay-body {
    background: #EFF0F5;
    height: 560px;
    margin-bottom: 15px;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.ticket_replay .replay .top-heading {
    background-color: #29852d36;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    flex: 50% 0 0;
}

.ticket_replay .user-avator {
    height: 34px;
    border-radius: 50%;
    background: #409e20;
}

.ticket_replay .user-name {
    padding-top: 9px;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

.replay-body {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    width: 100%;
}

.replay-body .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 20px 20px 20px 0;
    background: #FFFEFF;
    margin: 13px 0;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    box-shadow: #a6aba7 0px 1px 4px;
    min-height: 10%;
    min-width: 94%;
}

.replay-body .message.new {
    /*transform: scale(0);*/
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
}

.replay-body .message .avatar {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgb(183 183 183 / 50%);
}

.replay-body .message .avatar img {
    width: 100%;
    height: auto;
}

.replay-body .message .timestamp {
    position: absolute;
    bottom: -16px;
    font-size: 10px;
    color: #555;
    right: 30px;
}

.replay-body .message .sender {
    position: absolute;
    bottom: -16px;
    font-size: 10px;
    color: #5fb022;
    left: 5px;
}

.replay-body .message .checkmark-sent-delivered {
    position: absolute;
    bottom: -16px;
    right: 10px;
    font-size: 12px;
    color: #999;
}

.replay-body .message .checkmark-read {
    color: blue;
    position: absolute;
    bottom: -16px;
    right: 16px;
    font-size: 12px;
}

.replay-body .message-personal {
    float: right;
    text-align: right;
    background: #DDDEE5;
    border-radius: 20px 20px 0 20px;
    box-shadow: #a6aba7 0px 1px 4px;
}

.replay-body .message .reciever-timestamp {
    position: absolute;
    bottom: -16px;
    font-size: 10px;
    color: #555;
    left: 26px;
}

.replay-body .message .reciever {
    position: absolute;
    bottom: -16px;
    font-size: 10px;
    color: #5fb022;
    right: 2px;
}

.replay-body .message .reciever-checkmark-sent-delivered {
    position: absolute;
    bottom: -16px;
    left: 10px;
    font-size: 12px;
    color: #999;
}

.replay-body .message .reciever-checkmark-read {
    color: blue;
    position: absolute;
    bottom: -16px;
    left: 16px;
    font-size: 12px;
}


/*replay button */

.replay-btn-area {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

.replay-btn-area .replay-btn {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #409e20;
    color: #fff;
    border: 0;
    transform: rotate(212deg);
}

.replay-btn-area .replay-btn i {
    font-size: 30px;
}

.replay-form {
    position: absolute;
    top: 33px;
    z-index: 999;
    width: 500px;
    right: 0px;
    display: block;
}


/**Timeline**/

.timeline ul,
.timeline li {
    list-style: none;
    padding: 0;
}

.timeline .wrapper {
    padding: 2rem;
    border-radius: 15px;
}

.timeline h1 {
    font-size: 1.1rem;
    font-family: sans-serif;
}

.timeline .sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.timeline li {
    padding-bottom: 2px;
    border-left: 1px solid #e84e0e;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.timeline li:last-child {
    border: 0px;
    padding-bottom: 0;
}

.timeline li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #e84e0e;
    box-shadow: 3px 3px 0px #e84e0e;
    box-shadow: 3px 3px 0px #e84e0e;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.timeline .time {
    color: #034f34;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@media screen and (min-width: 601px) {
    .timeline .time {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .timeline .time {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
    }
}

.timeline p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 15px;
    margin-top: 0;
    font-size: 12px;
}

.timeline small {
    font-size: 11px;
}

@media screen and (max-width: 600px) {
    .timeline p {
        font-size: 0.9rem;
    }
}

.w-speace-ini {
    white-space: initial;
}

.fs-12 {
    font-size: 12px;
}

#live_notofication{
    position: fixed;
    bottom: 20px;
    z-index: 999;
    right: 29px;
}
.toast_notification {
    position: relative;
    background: #d6e7b0;
    width: 320px;
    padding: 15px 10px;
    box-shadow: 0px 1px 3px 1px #bbb;
    font-size: 12px;
    margin-bottom: 10px;
}

.n_close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    color: #ff6258;
}

.dropdown-menu .show{
    max-width: 840px !important;
}
